.chat {
  display: flex;
  height: 100%;
  align-items: stretch;
}

.channels {
  width: 200px;
}

.messages {
  background-color: #eee;
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
}

.scrollable {
  flex: 1;
  overflow-y: auto;
}